# Database
DATABASE_URL="postgresql://jcode:password@localhost:5435/renthub_db?schema=public"

# ===== For Docker Compose =====
DB_USER=jcode
DB_PASSWORD=password
DB_NAME=renthub_db
DB_PORT=5435
REDIS_PORT=6666
PGADMIN_PORT=5050
PGADMIN_EMAIL=jcode@pgadmin.com
PGADMIN_PASSWORD=password
# ===== For Docker Compose =====

# JWT Secrets
JWT_ACCESS_SECRET="access-secret"
JWT_REFRESH_SECRET="refresh-secret"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

# Application
NODE_ENV="development"
PORT=3001
APP_URL="http://localhost:3001"

# Email Configuration
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="your-email@gmail.com"
SMTP_PASS="your-app-password"
SMTP_FROM="your-email@gmail.com"

# Rate Limiting
THROTTLE_TTL=60
THROTTLE_LIMIT=10
FRONTEND_URL="http://localhost:3000"
PLAN_ENTITLEMENTS_ENABLED="false"
